[submodule "vim"]
	path = vim
	url = https://github.com/carlba/vimfiles.git
[submodule ".vim/bundle/simplenote"]
	path = .vim/bundle/simplenote
	url = https://github.com/mrtazz/simplenote.vim.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/pyflakes"]
	path = .vim/bundle/pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
