[submodule ".vim/plugin/simplenote.vim"]
	path = .vim/plugin/simplenote.vim
	url = https://github.com/mrtazz/simplenote.vim.git
[submodule "vim"]
	path = vim
	url = https://github.com/carlba/vimfiles.git
