[Desktop Entry]
Version=1.0
Name=Fenix
Exec=/opt/google/chrome/google-chrome --app=http://wiki.carl.lambdaworks.se/index.php/Main_Page
Terminal=false
Type=Application
Categories=Network;WebBrowser;
Icon=chrome-http___wiki.carl.lambdaworks.se_index.php_Main_Page
Path=
StartupNotify=false
Comment=
